<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/xxx/index.css">
    {{/*这里的xxx前边加不加/都可以*/}}
</head>
<body>
{{.|safe}}
<script src="/xxx/index.js"></script>
</body>
</html>